<form role="form" id="clientInfoForm" action="/clients/edit/" method="post">
  <div class="form-group">
    <label for="imei">IMEI:</label>
    <input type="text" class="form-control" id="client_imei" name="imei" value="{{user.imei}}">
  </div>
    <input type="hidden" class="form-control" id="imei_hidden" name="imei_hidden" value="{{user.imei}}">
  <div class="form-group">
    <label for="sel1">Select group:</label>
    <select name="client_group" class="form-control" id="sel1">
      {%for group in groups%}
        {%ifequal group_name group.name%}
        <option value="{{group.name}}" selected="selected">{{group.name}}</option>
        {%else%}
        <option value="{{group.name}}">{{group.name}}</option>
        {%endifequal%}
        }
      {%endfor%}
    </select>
  </div>
  <div class="form-group">
    <label for="phone_no">Phone Number:</label>
    <input type="text" class="form-control" id="phone_no" name="phone_no" value="{{user.phone}}">
  </div>
  <div class="form-group">
    <label for="sim_id">Sim ID:</label>
    <input type="text" class="form-control" id="sim_id" name="sim_id" value="{{user.simid}}">
  </div>
  <div class="form-group">
    <label for="jitter">Jitter:</label>
    <input type="text" class="form-control" id="jitter" name="jitter" value="{{user.jitter}}">
  </div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Release</th>
        <th>Version</th>
      </tr>
    </thead>
    <tbody>
      {% for app in apps%}
      <tr>
        <td>{{app.name}}</td>
        <td>{{app.release}}</td>
        <td>{{app.ver}}</td>
      </tr>
      {%endfor%}
    </tbody>
</table>
</form>
