{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Dashboard Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/dashboard.css' %}" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Updater Web</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/logout">Signout</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="/clients">Clients <span class="sr-only">(current)</span></a></li>
            <li><a href="/groups">Groups</a></li>
            <li><a href="/applications">Applications</a></li>
            <li><a href="/logs">Logs</a></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          
          <h2 class="sub-header">Clients</h2>
          <div class="table-responsive">
            <table class="table table-striped " style="border-collapse:collapse;">
              <thead>
                <tr>
                  <th>Group</th>
                </tr>
              </thead>
              <tbody>
                
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>
      var group_data = {{ json|safe }}
      for( var i=0;i<group_data.length;i++){
        var group = group_data[i];
        var name = group['name']
        $("tbody").append(
          // '<div id ="group'+name+'">'+
            '<tr  data-toggle="collapse" data-target="#'+name+'" class="accordion-toggle group-class" id="'+name+'">'+
              '<td>'+name+'</td>'+
            '</tr>');//+
      }
      $('.group-class').click(function() {
        var $thisElement = $(this);
        var id = $(this).attr("id");
        var clicks = $(this).data('clicks');
        if (clicks) {
        // alert('odd number of clicks');
          $.get("/uapp/getGroupClients/"+id, function(data, status){
            var clientsData = JSON.parse(data);
            for(var i=0;i<clientsData.length;i++){
              $thisElement.after('<tr class="tr'+id+'"><td colspan="6" class="hiddenRow"><div id="demo1"> '+clientsData[i]+' </div> </td></tr>')
            }
          });
          // $(this).after('<tr id="tr'+id+'"><td colspan="6" class="hiddenRow"><div id="demo1"> Demo1 </div> </td></tr>')
        } else {
        // alert('even number of clicks');
          $(".tr"+id).remove();
        }
        $(this).data("clicks", !clicks);
      });
      function getClients(name){
        $.get("/uapp/getGroupClients/"+name, function(data, status){
          var clientsData = JSON.parse(data);
          console.log(clientsData);
          for(var i=0;i<clientsData.length;i++){
            console.log(clientsData[i])
            $("#group"+name).after(
            '<tr>'+
              '<div id="'+name+'">'+
                '<td>'+
                  clientsData[i]+
                '</td>'+
              '</div>'+
            '</tr>');
          }
          // alert("Data: " + data + "\nStatus: " + status);
        });
      }
    </script>
  </body>
</html>
