{%extends "base_template.html"%}
{%block body%}
{% load crispy_forms_tags %}
{% load staticfiles %}

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li><a href="/clients"><i class=" fa fa-mobile"></i> &nbsp;Clients</a></li>
            <li><a href="/groups"><i class=" fa fa-users"></i> &nbsp;Groups</a></li>
            <li><a href="/apps"><i class=" fa fa-th"></i> &nbsp;Applications</a></li>
            <li class="active"><a href="/logs"><i class=" fa fa-pencil"></i> &nbsp;Logs <span class="sr-only">(current)</span></a></li>
            <li><a href="/global"><i class=" fa fa-globe"></i> &nbsp;Global</a></li>
            
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

          <div class="row">
              <div class="col-lg-12">
                  <h1 class="page-header">Logs
                  </h1>
              </div>
          </div>
          <div class="row">
            <div class="col-md-2 portfolio-item">
                    <div class="group-div">
                      <a href="/showAllClients/">
                        <h5 class="group-h3">Client Logs</h5>
                      </a>
                      </br>
                      <i class=" fa fa-mobile"></i> {{client_count}}
                    </div>

            </div>
            <div class="col-md-2 portfolio-item">
                    <div class="group-div">
                      <a href="/showAllGroups">
                        <h5 class="group-h3">Group Logs</h5>
                      </a>
                      </br>
                      <i class=" fa fa-users"></i> {{group_count}}
                    </div>

            </div>

          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="../../assets/js/vendor/holder.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

{%endblock%}