{%extends "base_template.html"%}
{%block body%}
{% load crispy_forms_tags %}
{% load staticfiles %}

    <!-- Page Content -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li><a href="/clients"><i class=" fa fa-mobile"></i> &nbsp;Clients</a></li>
            <li class="active"><a href="/groups"><i class=" fa fa-users"></i> &nbsp;Groups <span class="sr-only">(current)</span></a></li>
            <li><a href="/apps"><i class=" fa fa-th"></i> &nbsp;Applications</a></li>
            <li><a href="/logs"><i class=" fa fa-pencil"></i> &nbsp;Logs</a></li>
            <li><a href="/global"><i class=" fa fa-globe"></i> &nbsp;Global</a></li>
            
          </ul>
        </div>
        <div class ="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <div class="row">
              <div class="col-lg-12">
                  <h1 class="page-header">Groups
                      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newGroup">Create a new group</button>
                  </h1>
              </div>
          </div>
          <div class="row">
          {% for g in grouplist %}
            <div class="col-md-2 portfolio-item">
                    <div class="group-div">
                      <!-- <form action="/groups/delete/" method="post">
                        <input type="hidden" name="group" value="{{g.name}}">
                        <button type="button" class="close" onclick="javascript: $(this).parent().submit();">&times;</button>
                      </form> -->
                      <a href="#" class="group_details_anchor" data-toggle="modal" data-target="#groupInfo" data-name="{{g.name}}" data-desc = "{{g.desc}}">
                        <h5 class="group-h3">{{g.name}}</h5>
                      </a>
                      </br>
                      <i class=" fa fa-th"></i> {{g.app_count}} &nbsp;
                      <i class=" fa fa-mobile"></i> {{g.user_count}}
                      
        
                    </div>    
            
            </div>
          {% endfor %}
            
            
          </div>
        </div>
      </div>
    </div>
    <div id="groupInfo" class="modal fade" role="dialog">
<div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Edit Group</h4>
      </div>
      <div class="modal-body" id="group_info">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="javascript: deleteGroup($('#group_name_hidden').val()); ">Delete</button>
        <button type="button" class="btn btn-success" data-dismiss="modal" onclick="javascript: updateGroup();">Update</button>
      </div>
    </div>

  </div>
</div>

<div id="newGroup" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">New Group</h4>
      </div>
      <div class="modal-body">
        <form action="/groups/add/" method="post" id="form">
        {% block content %}
        {% crispy form %}
        {% endblock %}
      </form>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button onclick="javascript: $('#form').submit();" type="button" class="btn btn-success" data-dismiss="modal">Submit</button>
      </div>
    </div>

  </div>
</div>


    <!-- /.container -->

    <!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    
    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <script>
      
      $(".group_details_anchor").click(function(){
        var name = $(this).data('name');
        $.ajax({
          type: "GET",
          url:"/groups/details/",
          data: {
            groupname:name 
          },
          dataType: "html",
          success: function(data){
            // console.log(data);
            $("#group_info").html(data);
          }
        });
        // $.get("/group_details/",{groupname:name},function(data){
        //     console.log(",jhkj"+data);
        //   });

        
        $('#groupInfo').on('shown.bs.modal', function (e) {
          
        });  
      });

      function deleteGroup(name){
        $.post("/groups/delete/",{group: name},function(data){
          // alert(data);
          location.reload();
        })
      }

      function updateGroup(){
        var selected=[]
        $('#app_list_div input:checked').each(function() {
          $(this).val("on");
          selected.push($(this).attr('name'));
        });
        $('#groupInfoForm').submit();
      }
      
    </script>
{%endblock%}