{% load staticfiles %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>4 Col Portfolio - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'css/4-col-portfolio.css' %}" rel="stylesheet">
<link href="{% static 'css/dashboard.css' %}" rel="stylesheet">
<link href="{% static 'css/group_div.css' %}" rel="stylesheet">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Updater Web</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/logout">Signout</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li><a href="/clients"><i class=" fa fa-mobile"></i> &nbsp;Clients</a></li>
            <li><a href="/groups"><i class=" fa fa-users"></i> &nbsp;Groups</a></li>
            <li class="active"><a href="/applications"><i class=" fa fa-th"></i> &nbsp;Applications <span class="sr-only">(current)</span></a></li>
            <li><a href="/logs"><i class=" fa fa-pencil"></i> &nbsp;Logs</a></li>
          </ul>
        </div>
        <div class ="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <div class="row">
              <div class="col-lg-12">
                  <h1 class="page-header">Applications
                      <button type="button" class="btn btn-primary"  data-toggle="modal" data-target="#newApplication">Create a new application</button>
                  </h1>
              </div>
          </div>
          <div class="row">
          {% for a in applist %}
            <div class="col-md-2 portfolio-item">
                    <div class="group-div">
                      <a href="/getAppReleases/{{a.name}}">
                        <h5 class="group-h3">{{a.name}}</h5>
                      </a>
                      </br>
                      <i class=" fa fa-users"></i> {{a.group_count}}
                    </div>    
            
            </div>
          {% endfor %}
            
            
          </div>
        </div>
      </div>
    </div>
<div id="newApplication" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
        <p>Some text in the modal.</p>
        {% block content %}
   {% crispy form %}
{% endblock %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-success" data-dismiss="modal">Submit</button>
      </div>
    </div>

  </div>
</div>

    <!-- /.container -->

    <!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    
    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script>
    // $(".group-h3").click(function(){
    //   $.get("/getGroupClients/"+$(this).text(), function(data, status){
    //     // alert("Data: " + data + "\nStatus: " + status);
    //     $(".main").html(data);
    // });
    // })
    </script

</body>

</html>
