{% extends "base_template.html"%}
{%block body%}
{% load crispy_forms_tags %}
{% load staticfiles %}

    <!-- Page Content -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li><a href="/clients"><i class=" fa fa-mobile"></i> &nbsp;Clients</a></li>
            <li><a href="/groups"><i class=" fa fa-users"></i> &nbsp;Groups</a></li>
            <li class="active"><a href="/apps"><i class=" fa fa-th"></i> &nbsp;Applications <span class="sr-only">(current)</span></a></li>
            <li><a href="/logs"><i class=" fa fa-pencil"></i> &nbsp;Logs</a></li>
            <li><a href="/global"><i class=" fa fa-globe"></i> &nbsp;Global</a></li>
            
          </ul>
        </div>
        <div class ="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <div class="row">
              <div class="col-lg-12">
                  <h1 class="page-header">Versions
                    <button type="button" class="btn btn-primary"  data-toggle="modal" data-target="#newVersion">Create a new Version</button>

                  </h1>
              </div>
          </div>
          <div class="row">
          {% for v in versionlist %}
            <div class="col-md-2 portfolio-item">
            <a href="#" data-toggle="modal" data-target="#versionInfo" class="app_details_anchor" data-name="{{app_name}}" data-release="{{release}}" data-version="{{v}}">
                    <div class="group-div">
                      <h5 class="group-h3">version: {{v}}</h5>
                    </div>
            </a>
            </div>
          {% endfor %}


          </div>
        </div>
      </div>
    </div>
    <div id="versionInfo" class="modal fade" role="dialog">
<div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Edit Version</h4>
      </div>
      <div class="modal-body" id="version_info">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="deleteApp();">Delete</button>
        <button type="button" class="btn btn-success" data-dismiss="modal" onclick="updateApp()">update</button>
      </div>
    </div>

  </div>
</div>
<div id="newVersion" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">New Version</h4>
      </div>
      <div class="modal-body">
        <form action="/apps/add_version" id="add_version_form" method="post">
        <input type="hidden" name="app_name" value="{{app_name}}">
        <input type="hidden" name="release" value="{{release}}">

        {% block content %}
        {% crispy form %}
        {% endblock %}
      </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-success" data-dismiss="modal" onclick="$('#add_version_form').submit();">Submit</button>
      </div>
    </div>

  </div>
</div>

    <!-- /.container -->

    <!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script>
      var name, release, version;
      $(".app_details_anchor").click(function(){
        name = $(this).data('name');
        release = $(this).data('release');
        version = $(this).data('version');

        $.ajax({
          type: "GET",
          url:"/apps/details/",
          data: {
            name:name,
            release:release,
            version:version
          },
          dataType: "html",
          success: function(data){
            // console.log(data);
            $("#version_info").html(data);
          }
        });
      });

      function deleteApp(){
        $.post("/apps/delete/",{name:name,release:release,version:version},function(data){
          location.reload();
        })
      }
      function updateApp(){
        $("#appInfoForm").submit();
      }
    </script>
{%endblock%}